[submodule "protobuf/repositories/finschia-sdk"]
	path = protobuf/repositories/finschia-sdk
	url = https://github.com/Finschia/finschia-sdk
[submodule "protobuf/repositories/ibc-go"]
	path = protobuf/repositories/ibc-go
	url = https://github.com/Finschia/ibc-go
[submodule "protobuf/repositories/wasmd"]
	path = protobuf/repositories/wasmd
	url = https://github.com/Finschia/wasmd
